.post {
  padding: 1rem;
  margin: 2rem 0;
  position: relative;
  max-width: 40rem;
  border-radius: 1rem;
  min-width: 25rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(126, 126, 126);
  margin-bottom: 2rem;
}

.header h5 {
  font-size: 1.4rem;
}

.header h6 {
  font-size: 1.3rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.body h3 {
  font-size: 2rem;
}

.body p {
  font-size: 1.3rem;
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  max-width: 10rem;
  max-height: 20rem;
}

.btn {
  position: absolute;
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}

.btn svg {
  width: 2rem;
  color: red;
  transition: all 0.3s ease;
}

.btn svg:hover {
  transform: translate(1.1);
}
