.post {
  min-width: 33rem;
  max-width: 33rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(100, 100, 100);
  margin: 2rem 0;
  color: var(--color-black);
}

.post-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: rgb(100, 100, 100);
}

.post-body {
  padding: 0.5rem 1rem;
}

.post-general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.post-general-info h4 {
  font-size: 1.75rem;
  color: var(--color-black);
}

.post-general-info p {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-black);
}

.post-more-info {
  width: 100%;
}

.post-more-info summary {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.post-more-info p {
  font-size: 1.3rem;
  color: rgb(100, 100, 100);
}

.post-more-info div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-more-info div img {
  width: 15rem;
  height: auto;
  max-height: 30rem;
}

.post-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.post-footer svg {
  width: 2rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.post-footer svg:hover {
  color: red;
}

@media (max-width: 360px) {
  .post {
    min-width: 30rem;
    padding: 1rem;
  }
}
