.nav {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--color-secondary);
  color: var(--color-black);
}

.logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-principal);
}

.logo-container svg {
  width: 3rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container svg {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.container:hover svg {
  transform: scale(1.1);
  color: var(--color-black);
}

.nav-list {
  width: 18rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding-bottom: 0.2rem;
}

.nav-item:hover {
  transform: translateY(-0.5rem) scale(1.05);
}

.active {
  border-bottom: 1.5px solid var(--color-principal);
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.7rem;
  }

  .nav-list {
    width: 15rem;
  }

  .nav-item {
    font-size: 1.5rem;
  }

  .container svg {
    width: 1.5rem;
  }
}

@media (max-width: 370px) {
  .container {
    gap: 0.5rem;
  }
  .nav-list {
    width: 12rem;
  }

  .nav-item {
    font-size: 1rem;
  }

  /* .nav-list {
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  } */
}
