.page {
  margin-top: 5rem;
  color: var(--color-black);
  border: 0.5px solid var(--color-secondary);
  padding: 4rem 8rem;
  box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(45deg, var(--color-gradient-1), var(--color-gradient-1)),
    url("/background-auth.jpg");
  background-position: center center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 6rem 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h4 {
  font-size: 3.5rem;
  font-weight: 900;
  font-style: italic;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.input-group label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input-div {
  border: 1px solid var(--color-black);
  padding: 0.5rem 1rem;
  padding-left: 1rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
}

.input-group input {
  color: var(--color-black);
  width: 35rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}

.input-group input:focus {
  outline: none;
}

.input-div svg {
  cursor: pointer;
  width: 2rem;
  color: var(--color-black);
  transition: all 0.3s ease;
}

.input-div svg:focus,
.input-div svg:hover {
  outline: none;
  transform: scale(1.1);
}

.error-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: red;
}

.error-div svg {
  width: 2rem;
}

.error-div p {
  font-size: 1.2rem;
  font-weight: 900;
}

.form .button-div {
  background-color: var(--color-principal);
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button-div {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: var(--color-principal);
  color: white;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-div:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}

.button-div:active {
  transform: scale(1.05) translateY(0rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.25);
}

.form .button-div:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05) translateY(-0.5rem);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 6rem 4rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
    url("/background-modal.jpg");
  background-position: center;
  border-radius: 2rem;
}

.modal-closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.modal-closeBtn button {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
}

.modal-textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal p {
  font-size: 2rem;
  font-weight: 700;
}

.modal-textContainer button {
  border: none;
  background-color: rosybrown;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal svg {
  width: 15rem;
  color: red;
}

@media (max-width: 660px) {
  .page {
    /* margin-top: 0; */
    border-radius: 0;
    width: 95vw;
    padding: 2rem 1rem;
  }

  .input-group label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .input-group input {
    width: 20rem;
    height: 3.5rem;
  }
}
