.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.shop-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.shop-list-header h5 {
  font-size: 1.7rem;
  font-family: monospace;
}
