.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shop-list {
  width: 100%;
}

.shop-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.shop-list-header h5 {
  font-size: 1.7rem;
  font-family: monospace;
}
